<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-padding">Ingrese los teléfonos de ambos accesos (Acceso Entrada y Acceso Salida).</p>
  <ion-item>
    <ion-label position="stacked">Teléfono de Acceso entrada</ion-label>
    <ion-input type="tel" [(ngModel)]="entrancePhone"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Teléfono de Acceso salida</ion-label>
    <ion-input type="tel" [(ngModel)]="exitPhone"></ion-input>
  </ion-item>
  <ion-button expand="block" size="large" (click)="saveConfig()">Guardar configuración</ion-button>

</ion-content>
