ion-content ion-toolbar {
  --background: translucent;
}
ion-grid {
  height: 100%;
}
ion-row {
  height: 50%;
}
ion-button {
  height: 7rem;
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
}

p{
  span {
    font-weight: bold;
  }
}